<template class="ns-light">
    <!-- Page initializing with hiding default action bar and setting status bar colour -->
    <Page class="ns-light" actionBarHidden="true" androidStatusBarBackground="#E5E5E5" >
        <StackLayout>
            <!-- Custom Action bar -->
            <GridLayout columns="50, *, 50" rows="60" height="60" backgroundColor="#E5E5E5" class="topTitleBar">
                <Image src="~/assets/icons/call.png" row="0" col="0" width="20"></Image>
                <Label :text="username" row="0" col="1" class="username" />
                <Image src="~/assets/icons/user.png" row="0" col="2" width="20"></Image>
            </GridLayout>

            <!-- Using bottom navigation tabulation for pages -->
            <BottomNavigation>
                
                <!-- Bottom menu strip starts here -->
                <TabStrip>
                    <TabStripItem>
                        <Label text="Home"></Label>
                        <Image src="~/assets/icons/melogo-high.png"></Image>
                    </TabStripItem>
                    <TabStripItem>
                        <Label text="Products"></Label>
                        <Image src="~/assets/icons/products-hover.png"></Image>
                    </TabStripItem>
                    <TabStripItem>
                        <Label text="Pay & Transfer"></Label>
                        <Image src="~/assets/icons/pay-transfer.png"></Image>
                    </TabStripItem>
                    <TabStripItem>
                        <Label text="MeVerify"></Label>
                        <Image src="~/assets/icons/meverify.png"></Image>
                    </TabStripItem>
                    <TabStripItem>
                        <Label text="More"></Label>
                        <Image src="~/assets/icons/more.png"></Image>
                    </TabStripItem>
                </TabStrip>

                <!-- Paged contents start here -->
                <!-- Page 1: Home -->
                <TabContentItem backgroundColor="#fff">
                    <StackLayout>
                        <Label text="Home" class="h1">
                        </Label>
                        <Label text="This page is coming soon. Please proceed to products tab."></Label>
                    </StackLayout>
                </TabContentItem>

                <!-- Page 2: Products -->
                <TabContentItem>
                    <StackLayout>
                        <Label text="Products" class="h1"></Label>
                        <!-- Using a scroll view with a horizontal StackLayout to create carousel effect. This may be created as seperate recyclable component -->
                        <ScrollView orientation="horizontal" @scroll="onScroll">
                            <StackLayout orientation="horizontal">
                                
                                <!-- Looping through available products -->
                                <RadListView for="product in products" orientation="horizontal"> 
                                    <v-template>
                                        
                                        <!-- Note: width size selected to show part of the next product on first fold -->
                                        <StackLayout width='350' class="productCard">
                                            <Image :src="product.image"></Image>
                                            <StackLayout class="productCardInfo">
                                                <Label :text="product.description" textWrap="true" class="productDescriptionLabel"></Label>
                                                <Label text="Rate" class="prodLabel"></Label>     
                                                <Label :text="product.rate" class="prodValue"></Label>
                                                <Label text="Duration" class="prodLabel"></Label>     
                                                <Label :text="product.duration" class="prodValue"></Label>                                                                 
                                            </StackLayout>
                                        </StackLayout>
                                    
                                    </v-template>
                                </RadListView>

                            </StackLayout>
                        </ScrollView>
                        <Button :text="this.applyButton" class="-rounded-lg meButton" @tap="onButtonTap" /> 
                    </StackLayout>
                </TabContentItem>

                <!-- Page 3: Pay and Transfer -->
                <TabContentItem>
                    <GridLayout>
                        <StackLayout>
                            <Label text="Pay & Transfer" class="h1">
                            </Label>
                            <Label text="This page is coming soon"></Label>
                        </StackLayout>
                    </GridLayout>
                </TabContentItem>

                <!-- Rest of pages should go here -->

            </BottomNavigation>
        </StackLayout>
    </Page>
</template>

<script>
    import Vue from "nativescript-vue";
    import RadListView from 'nativescript-ui-listview/vue';
    import Theme from "@nativescript/theme";

    import NewProduct from './NewProduct';

    Vue.use(RadListView);
    Theme.setMode(Theme.Light);

    export default {
        methods: {
            onScroll(args){
                /* Calculating total width of StackLayout element, establishing divisions by amount of products, and estimating the current position, therefore the selection in view, therefore the current product selected */

                let divider = args.object.scrollableWidth / this.products.length;
                let slideSection = Math.floor(args.scrollX / divider);
                if( slideSection >= this.products.length ){
                    slideSection -= 1;
                }
                if( slideSection < 0){ 
                    slideSection = 0;
                }
                this.applyButton = "Open "+this.products[slideSection].title;
                this.selectedProductId = slideSection;
            },
            onButtonTap(){
                this.$navigateTo(NewProduct, {
                    transition: {
                        name:'slide',
                        duration: 400
                    },
                    props: {
                        // Passing product only for reference, but it might make sense to also pass other values if deemed fit in architecture.
                        product: this.products[ this.selectedProductId ] 
                    }
                });
            },
            getProducts(){
                /* This method is prepared to dynamically get active products for the given user */
                return [
                    { 
                        title: "Express Savings", 
                        description: "A savings account fit for savers looking for one clear and attractive interest rate where you can always access your savings",
                        rate: "0.07%",
                        duration: "open-ended",
                        image: "~/assets/express-savings.png"
                    },
                    { 
                        title: "Fixed Savings", 
                        description: "A fixed account fit for savers with fixed term, or a better interest rate and return of investment.",
                        rate: "0.1%",
                        duration: "fixed-term",
                        image: "~/assets/express-savings.png"
                    },
                    { 
                        title: "Hybrid Savings", 
                        description: "A hybird account fit for savers with fixed term, or a better interest rate and return of investment.",
                        rate: "0.2%",
                        duration: "hybrid-term",
                        image: "~/assets/express-savings.png"
                    }
                ];
            }
        },
        data() {
            return {
                // Data below set to initatialize variables.
                username: "",
                products: [],
                applyButton: "",
                selectedProductId : 0
            };
        },
        mounted(){
            // mounting data on load using methods
            this.products = this.getProducts(),
            this.applyButton = "Open " + this.products[this.selectedProductId].title,
            this.username = "Joe Borg"
        }
    };
</script>

<style scoped>
    /* Note: SF Font in resource folder is not exact to design. Resource was not available. */

    .home-panel {
        vertical-align: left;
        font-size: 20;
        margin: 15;
    }

    .topTitleBar {
        padding: 10px;
    }

    TabContentItem {
        /* border radius on design suggested a lower radius, although in preview it was very minimal due to resolution.*/
        border-radius: 40px 40px 0px 0px;
        padding: 50px;
    }

    TabStripItem {
        background-color: #fff;
        border-top: 1px solid #E5E5E5;
    }

    Page{
        background-color: #E5E5E5;
    }

    ScrollView{
        background-color:#fff;
        height:80%;
    }

    .description-label {
        margin-bottom: 15;
    }

    TabStripItem Label {
        padding: 5px 0 0 5px;
    }

    .username {
        font-family: "Work Sans", "WorkSans-Bold";
        text-align: center;
        padding-top: 45px;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        color: #000000;
    }
    .h1{
        font-family: "SF Pro Display", "SFProDisplay";
        font-weight:bold;
        font-size:25px;
        margin-bottom:10;
        letter-spacing: 0.0145455em;
    }
    .productDescriptionLabel{
        font-size:16;
        margin-top:20;
        font-family: "Work Sans";
        color:#6A6E70;
        line-height:0;
        letter-spacing: 0.01em;
    }
    .prodLabel{
        font-size:18;
        margin-top:15;
        font-family: "Work Sans";
        color:#6A6E70;
    }
    .prodValue{
        font-size:25;
        margin-top:-10;
        font-family: "SF Pro Display", "SFProDisplay";
        font-weight:bold;
    }
    .productCard{
        margin-right:5;
    }
    .productCardInfo{
        padding:0 10;
    }

    .meButton{
        background-color: #007DC6;
        border-radius: 60;
        height:52;
        width:100%;
        font-size:20;
        font-family: "Work Sans";
    }
    .meButton:active{
       background-color: #015f96;
    }
</style>