<template>
	<Page class="ns-light" actionBarHidden="true" androidStatusBarBackground="#eee" >
		<!-- Using Grid Layout to centralize elements -->
		
	 	<GridLayout rows="*,280, 100, 200, 100">
	 		<Image src="~/assets/icons/confirmation.png" width="150"row="1" verticalAlignment="center" />
	 		<Label text="Account Created" row="2" textAlignment="center" class="title"/>
	 		<Label :text="summary" row="3" textAlignment="center" class="summary"/>
	 		<StackLayout class="formBar formLabel" row="4">
	  			<Button text="Done" class="-rounded-lg meButton"  @tap="goBack"/>
	  		</StackLayout>
		</GridLayout>
	  	
	</Page>
</template>

<script>
	import MainScreen from './App';

	export default {
		// Getting all data from previous screen, for summary. 
	    props: [
	    	"friendlyTitle",
	    	"depositAmountValue",
	    	"currencySign"
	    ],
	    data() {
		    return {
		    	summary:""
		    };
	    },
	    mounted(){
	    	// Building the summary in one string to show in label
	    	this.summary = "Account '" +this.friendlyTitle+ "' with " +this.currencySign+ this.depositAmountValue+ " was created";
	    },
	    methods: {

	    	/* ClearHistory is set in navigation to ensure that there is not turning back at this stage, and navigation is reset. */
	    	goBack(){
	    		this.$navigateTo(MainScreen, {
	                transition: {
	                    name:'slide',
	                    duration: 400
	                },
	                clearHistory: true
	            });
	    	}
	    }
	}
</script>

<style>
	.title{
		font-size:20;
		color: #6A6E70;
		font-family: "Work Sans";

	}
	.meButton{
        background-color: #015f96;
        color:#fff;
        border-radius: 60;
        height:70!important;
        width:100%;
        font-size:20;
        font-family: "Work Sans";
    }
    .meButton:highlited{
       background-color: #015f96;
    }
    .meButton:disabled{
       background: #F4F5F5;
       color:#000;
    }
</style>