<template>
	<Page class="ns-light" actionBarHidden="true" androidStatusBarBackground="#eee" >
		<StackLayout>
		 	
		 	<StackLayout orientation="horizontal" class="actionBar hr-light" >
		    	<Image src="~/assets/icons/back.png" width="20" height="20" verticalAlignment="center" class="backBtn" @tap="$navigateBack" />
		    	<Label text="Products" fontSize="24" verticalAlignment="center" />
		  	</StackLayout>
		  	
		  	<Label text="Friendly Title" class="formLabel" />
		  	<StackLayout orientation="horizontal" class="formBar" >
		    	<Image src="~/assets/icons/default-icon.png" width="50" height="50" verticalAlignment="center" class="formIcon" />
		    	<TextField v-model="friendlyTitle" hint="Enter text..." width="65%" class="formField" @textChange="validateForm"/>
		  	</StackLayout>

		  	<Label text="Currency" class="formLabel" />
		  	<StackLayout orientation="horizontal" class="formBar" >
		    	<Image src="~/assets/icons/default-icon.png" width="50" height="50" verticalAlignment="center" class="formIcon" />
		    	<TextField v-model="currency" hint="Enter text..." width="65%" class="formField" @tap="choiceCurrency" editable="false" @textChange="validateForm"/>
		    	<Image src="~/assets/icons/next.png" width="20" height="20" verticalAlignment="center" class="nextIcon" @tap="choiceCurrency"/>
		  	</StackLayout>

		  	<Label text="Funding Account" class="formLabel" />
		  	<StackLayout orientation="horizontal" class="formBar" >
		    	<Image src="~/assets/icons/default-icon.png" width="50" height="50" verticalAlignment="center" class="formIcon" />
		    	<TextField v-model="fundingAccount" hint="Select Account " width="65%" class="formField" @tap="choiceAccount" editable="false" @textChange="validateForm"/>
		    	<Image src="~/assets/icons/next.png" width="20" height="20" verticalAlignment="center" class="nextIcon" @tap="choiceAccount" />
		  	</StackLayout>

		  	<Label text="Deposit Amount" class="formLabel" />
		  	<StackLayout orientation="horizontal" class="formBar" >
		    	<Image src="~/assets/icons/default-icon.png" width="50" height="50" verticalAlignment="center" class="formIcon" />
		    	<TextField v-model="currencySign" hint="€" class="currencySign" editable="false" /><TextField v-model="depositAmountValue" hint="0" keyboardType="number" width="62%" class="formField" style="margin-left:0;" @textChange="validateForm"/>
		  	</StackLayout>
		  	
		  	<StackLayout orientation="horizontal" class="formBar formLabel" >
				<Label text="Withholding tax" class="witholdingTaxLabel"/>
				<Switch v-model="withholdingTax" width="180" color="#007DC6" /> <!-- Design suggests backgroundColor="#E2F4FF", but was too light on mobile test. Sticking to default -->
		  	</StackLayout>
		  	
		  	<StackLayout class="formBar formLabel">
		  		<Button text="Confirm" class="-rounded-lg meButton" :isEnabled="proceed" @tap="goConfirm"/>
		  	</StackLayout>
	  	
	  	</StackLayout>
		 
	</Page>
</template>

<script>
	import Confirmation from './Confirmation';

	export default {
	    props: [
	    	"product"
	    ],
	    data() {
		    return {
		    	// Data below set to initatialize variables.
		    	currency: "EUR (€)",
		    	fundingAccount: "",
		    	depositAmountValue: 0,
		    	currencySign: "€",
		    	friendlyTitle: "",
		    	withholdingTax: true,
		    	proceed:false
		    };
	    },
	    mounted() {
	    	// Mounting information on load
	        this.friendlyTitle = this.product.title
	    },
	    methods: {
	    	choiceCurrency(){
	    		/* dropdown choice effect method usig action for choice of account */
	    		let activeCurrencies = this.getActiveCurrencies();
	    		action( "Choose currency for this account", "Cancel", activeCurrencies )
				  .then(result => {
				  		if( result != "Cancel" ){
				   			this.currency = result;
				   			this.currencySign = result.substr(5,1); 
				   			// currency sign setup approach can be improved to be part of the recieved array in getActiveCurrencies
				   		}
				  });
	    	},
	    	
	    	choiceAccount(){
	    		/* dropdown choice effect method usig action for choice of account */
	    		let userAccounts = this.getUserAccounts();
	    		action( "Choose funding account", "Cancel", userAccounts )
				  .then(result => {
				  		if( result != "Cancel" ){
				   			this.fundingAccount = result;
				  		}
				  });
	    	},
	    	
	    	getActiveCurrencies(){
	    		/* This method is prepared to dynamically get active currencies for the given user */
	    		return [
	    			"EUR (€)",
	                "GBP (£)",
	                "USD ($)",
	                "AUD ($)"
	            ];
	    	},

	    	getUserAccounts(){
	    		/* This method is prepared to dynamically get available accounts for the user */
	    		return [
	    			"Account A",
	                "Account B",
	                "Account C"
	            ];
	    	},
	    	validateForm(){
	    		/* Simple validation method running on changes of respective fields in the form */
	    		if( this.depositAmountValue > 10 && this.friendlyTitle.length > 0 && this.fundingAccount.length > 0 ){
	    			this.proceed = true;
	    		} else {
	    			this.proceed = false;
	    		}
	    	},
	    	goConfirm(){
	    		/* Account creation process should go here. Once succesful, the method should continue to navigate to Confirmation page.
				   ClearHistory is set here to ensure that there is not turning back at this stage, and navigation is reset.
	    		 */

	    		this.$navigateTo(Confirmation, {
                    transition: {
                        name:'slide',
                        duration: 400
                    },
                    props: {
                        // Passing required values for confirmation screen summary
                        friendlyTitle: this.friendlyTitle,
                        depositAmountValue: this.depositAmountValue,
		    			currencySign: this.currencySign 
                    },
	                clearHistory: true
                });
	    	}
	    }
	}
</script>

<style>
	/* Note: Font family SF Pro Disaply is to be replaced by SF Pro Text in some elements. Not implemented since resource is not available */

	.actionBar{
		padding:15 0;
		font-size:15;
		font-family: "SF Pro Display", "SFProDisplay";
		color: #007DC6;
		border: 1px solid #F4F5F5;
	}
	.formLabel{
		font-family: "SF Pro Display", "SFProDisplay";
		font-size:15;
		margin-top:15;
		padding:12;
		color: #6A6E70;
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}
	.backBtn{
		margin:4 15 0 10;
	}
	.formIcon{
		margin:5 5 0 10;	
	}
	.formField{
		font-size:20;
		placeholder-color: #6A6E70;
	}
	.currencySign{
		margin-right:0;
		font-size:20;
	}
	.witholdingTaxLabel{
		font-size:20;
		color:#000;
		margin-top:10;
		margin-left:10;
	}
	.meButton{
        background: #007DC6;
        color:#fff;
        border-radius: 60;
        height:70;
        width:100%;
        font-size:20;
        font-family: "Work Sans";
    }
    .meButton:highlited{
       background: #015f96;
       color:#fff;
    }
    .meButton:disabled{
       background: #F4F5F5;
       color:#000;
    }
    .meButton:enabled{
       background: #015f96;
       color:#fff;
    }
</style>